<component name="ArtifactManager">
  <artifact type="exploded-war" name="Spring-Boot:war exploded">
    <output-path>$PROJECT_DIR$/classes/artifacts/Spring_Boot_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="Spring-Boot/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Spring-Boot" />
        </element>
      </element>
    </root>
  </artifact>
</component>